@import "vars";
@import '~@angular/material/theming';

:host(){
	& > main{
			flex:0 0 auto;
			display:flex;
			flex-flow: column;
			background:black;
			text-transform: uppercase;
			font-family: 'BentonSansComp';
			& > main{
				display:flex;
				padding:8px;
				padding-bottom:0;
				font-size:1.8em;
				color:mat-contrast($primary,500);
				justify-content: center;

				& > span{
					display:block;
					margin:0 4px;
					&.primary{
						color:mat-color($primary,500);
					}
				}
			}
			& > footer{
				display:flex;
				padding:4px;
				justify-content: center;
				color:mat-color($mat-grey,700);
				font-size:.8em;
				border-bottom:1px solid white;
			}
	}
}
