@import "vars";
@import '~@angular/material/theming';

:host(){
	& > main{
		display:flex;
		flex:1;
		display:flex;
		align-items: flex-start;
		justify-content: center;
		& > section{
			flex:0 0 25%;
			.unavailable {
				opacity: .35;
			}

			&:last-child{
				padding:24px;
				padding-top:0;
				border-left:1px solid mat-color($mat-grey,300);

				& > main{
					& > ul{
						& > li{
							padding:0 0 16px;
							&:not(:first-child){
								padding:16px 0;
								border-top:1px solid mat-color($mat-grey,200);
							}
						}
					}
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					& > li {
						& > main{
							& > header, & > main{
								display:flex;
								align-items: center;
								&.column{
									flex-flow:column;
								}
								/deep/ .mat-form-field{
									width:100%;
								}

								& > main{
									flex:1;
									padding:16px 0;
									& > header{
										font-size:1.2em;
										font-weight:400;
									}
									& > footer{
										font-size:.8em;
										font-weight:300;
										padding-top:4px;
										color:mat-color($mat-grey,500);
									}
								}
								& > aside{
									flex:0 0 auto;
									color:mat-color($primary,500);
									& > button{
										font-size:2.5em;
										/deep/ .mat-button-wrapper{
											display: flex;
											justify-content: center;
										}
										/deep/ .mat-icon{
											line-height:1em;
											font-size:1em;
											height:1em;
											width:1em;
										}
									}
								}
							}
							& > footer{
								& > ul{
									padding-left:2em;
								}
							}
						}
					}
				}
			}

			& > section{
				&.vehicle-details {
					display:flex;
					flex-flow:column;
					align-items: center;
					margin:0;

					&.disabled {
						opacity: 0.7;
					}

					& > header{
						display:flex;
						flex-flow: column;
						align-items: center;

					}
					& > figure{
						display:none;
					}
					& > main{
						display:flex;
						flex-flow:column;
						align-items: center;
						& > header{
							& > h3,h4{
								margin:0;
								text-align: center;
							}
							& > h3{
								padding:8px;
								color:mat-color($mat-grey,700);
								font-size:1.6em;
								font-family:'BentonSansComp';
								text-transform: uppercase;
							}
							& > h4{
								color:mat-color($primary,500);
								font-size:1.2em;
							}
						}
						& > main{
							display:flex;
							flex-flow:column;
							align-items: center;

							& > figure{
								flex:0 0 auto;
								& > img{
									width:100%
								}
							}

							& > ul{
								display: flex;
								list-style: none;
								margin:0;
								padding:0;
								& > li{
									padding:15px;
									& > img{
										height:34px;
										width:34px;
									}
								}
							}
						}
					}
					& > footer{
						padding:15px;
						& > button {
							border-radius: 0 !important;
							width: 192px;
							color:mat-contrast($primary,500);
							background:mat-color($primary,500);
							box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
						}
					}
					& > aside{
						padding:15px;
						display:none;
						& > a{
							& > i{
								&.circled {
									height: 25px;
									width: 25px;
									border: 1px solid #979797;
									border-radius: 50%;
									line-height: 22px;
									text-align: center;
									&.icon-check-mark {
										color: #45abc7;
										border-color: #45abc7;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	:host() {
		& > main{
			display:flex;
			flex-flow: column;
			align-items: stretch;
			& > section{
				flex:0 0 auto;
				&:first-child{
					& > h2 {
						font-size: 20px;
						color: #454545;
					}
					& > ul {
						& > li {
						}
					}
				}

				& > div{
					&.vehicle-details {
						flex-flow:row;
						padding:15px 0;
						border-top:1px solid #e1e1e1;

						& > figure{
							display:flex;
							order:-1;
							padding:15px;
							& > img{
								margin:0;
							}
						}
						& > main{
							flex:1;
							align-items:flex-start;
							& > header{
								padding-bottom:8px;
								& > h3{
									padding:0 8px 0 0;
								}
							}
							& > main{
								& > figure{
									display:none;
								}
								& > ul{
									& > li{
										padding:0 4px 0 0;
										& > img{
											height:24px;
											width:24px;
										}
									}
								}
							}
						}
						& > footer{
							display:none;
							& > button {
								box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
							}
						}
						& > aside{
							display:flex;
						}
					}
				}
			}
		}
	}
}
