<main>
	<mat-card>
		<header>
			<header>
				<button mat-icon-button routerLink="/">
					<mat-icon aria-label="close">close</mat-icon>
				</button>
			</header>
			<main>
				<h1>SEND CONFIRMATION</h1>
			</main>
		</header>
		<main>
			<header *ngIf="error$ | async as error">
		    {{ error }}
			</header>
			<main>
				<section>
					<form class="example-form">
						<mat-form-field>
							<input
								matInput
								name="email"
								type="email"
								placeholder="Email"
								required
								[(ngModel)]="email"
								(keyup.escape)="clear($event)"
								autocomplete="off"
								autofocus>
						</mat-form-field>
					</form>
				</section>
				<section>
					<a routerLink="/auth"><button mat-button>Want to login?</button></a>
				</section>
			</main>
		</main>
		<footer>
			<button mat-button (click)="submitForm()">Send Confirmation Email</button>
		</footer>
	</mat-card>
</main>
